# who will find it :)

In [1]:
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
import ast 
from collections import Counter

In [2]:
old_df = pd.read_csv('application_data.csv')

In [3]:
df=old_df[['TARGET','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','DAYS_EMPLOYED','ORGANIZATION_TYPE','NAME_CONTRACT_TYPE','OCCUPATION_TYPE','CNT_FAM_MEMBERS','NAME_INCOME_TYPE','REGION_POPULATION_RELATIVE','NAME_HOUSING_TYPE','NAME_FAMILY_STATUS','NAME_EDUCATION_TYPE','CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_GOODS_PRICE','AMT_CREDIT']].copy()
df

,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_EMPLOYED,ORGANIZATION_TYPE,NAME_CONTRACT_TYPE,OCCUPATION_TYPE,CNT_FAM_MEMBERS,NAME_INCOME_TYPE,REGION_POPULATION_RELATIVE,NAME_HOUSING_TYPE,NAME_FAMILY_STATUS,NAME_EDUCATION_TYPE,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_GOODS_PRICE,AMT_CREDIT
0,1,M,N,Y,-637,Business Entity Type 3,Cash loans,Laborers,1.0,Working,0.018801,House / apartment,Single / not married,Secondary / secondary special,0,202500.0,351000.0,406597.5
1,0,F,N,N,-1188,School,Cash loans,Core staff,2.0,State servant,0.003541,House / apartment,Married,Higher education,0,270000.0,1129500.0,1293502.5
2,0,M,Y,Y,-225,Government,Revolving loans,Laborers,1.0,Working,0.010032,House / apartment,Single / not married,Secondary / secondary special,0,67500.0,135000.0,135000.0
3,0,F,N,Y,-3039,Business Entity Type 3,Cash loans,Laborers,2.0,Working,0.008019,House / apartment,Civil marriage,Secondary / secondary special,0,135000.0,297000.0,312682.5
4,0,M,N,Y,-3038,Religion,Cash loans,Core staff,1.0,Working,0.028663,House / apartment,Single / not married,Secondary / secondary special,0,121500.0,513000.0,513000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,0,M,N,N,-236,Services,Cash loans,Sales staff,1.0,Working,0.032561,With parents,Separated,Secondary / secondary special,0,157500.0,225000.0,254700.0
307507,0,F,N,Y,365243,XNA,Cash loans,NaN,1.0,Pensioner,0.025164,House / apartment,Widow,Secondary / secondary special,0,72000.0,225000.0,269550.0
307508,0,F,N,Y,-7921,School,Cash loans,Managers,1.0,Working,0.005002,House / apartment,Separated,Higher education,0,153000.0,585000.0,677664.0
307509,1,F,N,Y,-4786,Business Entity Type 1,Cash loans,Laborers,2.0,Commercial associate,0.005313,House / apartment,Married,Secondary / secondary special,0,171000.0,319500.0,370107.0
307510,0,F,N,N,-1262,Business Entity Type 3,Cash loans,Laborers,2.0,Commercial associate,0.046220,House / apartment,Married,Higher education,0,157500.0,675000.0,675000.0

In [4]:
df.dropna(inplace=True)
df

,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_EMPLOYED,ORGANIZATION_TYPE,NAME_CONTRACT_TYPE,OCCUPATION_TYPE,CNT_FAM_MEMBERS,NAME_INCOME_TYPE,REGION_POPULATION_RELATIVE,NAME_HOUSING_TYPE,NAME_FAMILY_STATUS,NAME_EDUCATION_TYPE,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_GOODS_PRICE,AMT_CREDIT
0,1,M,N,Y,-637,Business Entity Type 3,Cash loans,Laborers,1.0,Working,0.018801,House / apartment,Single / not married,Secondary / secondary special,0,202500.0,351000.0,406597.5
1,0,F,N,N,-1188,School,Cash loans,Core staff,2.0,State servant,0.003541,House / apartment,Married,Higher education,0,270000.0,1129500.0,1293502.5
2,0,M,Y,Y,-225,Government,Revolving loans,Laborers,1.0,Working,0.010032,House / apartment,Single / not married,Secondary / secondary special,0,67500.0,135000.0,135000.0
3,0,F,N,Y,-3039,Business Entity Type 3,Cash loans,Laborers,2.0,Working,0.008019,House / apartment,Civil marriage,Secondary / secondary special,0,135000.0,297000.0,312682.5
4,0,M,N,Y,-3038,Religion,Cash loans,Core staff,1.0,Working,0.028663,House / apartment,Single / not married,Secondary / secondary special,0,121500.0,513000.0,513000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307504,0,F,N,Y,-7258,Self-employed,Cash loans,Sales staff,1.0,Working,0.022625,House / apartment,Separated,Secondary / secondary special,0,153000.0,225000.0,331920.0
307506,0,M,N,N,-236,Services,Cash loans,Sales staff,1.0,Working,0.032561,With parents,Separated,Secondary / secondary special,0,157500.0,225000.0,254700.0
307508,0,F,N,Y,-7921,School,Cash loans,Managers,1.0,Working,0.005002,House / apartment,Separated,Higher education,0,153000.0,585000.0,677664.0
307509,1,F,N,Y,-4786,Business Entity Type 1,Cash loans,Laborers,2.0,Commercial associate,0.005313,House / apartment,Married,Secondary / secondary special,0,171000.0,319500.0,370107.0
307510,0,F,N,N,-1262,Business Entity Type 3,Cash loans,Laborers,2.0,Commercial associate,0.046220,House / apartment,Married,Higher education,0,157500.0,675000.0,675000.0

## Encoding data

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report,plot_confusion_matrix, accuracy_score,confusion_matrix
from sklearn.preprocessing import OrdinalEncoder
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
label = le.fit_transform(df['NAME_HOUSING_TYPE'])
 
# printing label
label

array([1, 1, 1, ..., 1, 1, 1])

## Split data

In [6]:
y = df['TARGET']
df.drop('TARGET',axis=1, inplace=True)

all_cat_columns = df.select_dtypes(['object']).columns
df[all_cat_columns] = df[all_cat_columns].apply(lambda x: pd.factorize(x)[0])

X=df
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

## Create model : logistic regression

In [7]:
lm1 = LogisticRegression().fit(X_train,y_train)

pred1 = lm1.predict(X_test)

Real_Values1 = np.array(y_test)
print("Logistic Regression Model")
print(Real_Values1)
print(pred1)
print("\nconfusion_matrix:\n")
print(confusion_matrix(y_test,pred1))
print("\nmodel's accuracy:\n") 
lm1.score(X_test, y_test)

Logistic Regression Model
[0 0 0 ... 0 0 0]
[0 0 0 ... 0 0 0]

confusion_matrix:

[[57682     0]
 [ 5588     0]]

model's accuracy:

0.9116801011537854

In [8]:
X.columns

Index(['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'DAYS_EMPLOYED',
       'ORGANIZATION_TYPE', 'NAME_CONTRACT_TYPE', 'OCCUPATION_TYPE',
       'CNT_FAM_MEMBERS', 'NAME_INCOME_TYPE', 'REGION_POPULATION_RELATIVE',
       'NAME_HOUSING_TYPE', 'NAME_FAMILY_STATUS', 'NAME_EDUCATION_TYPE',
       'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_GOODS_PRICE', 'AMT_CREDIT'],
      dtype='object')

In [9]:
y

0         1
1         0
2         0
3         0
4         0
         ..
307504    0
307506    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 210899, dtype: int64

In [10]:
df['TARGET'].value_counts()

KeyError: 'TARGET'

In [ ]:
lm1.coef_

In [ ]:
lm1.intercept_

## first row 
#### Actual = 1 
#### Model pred = 0

In [ ]:
a=(-9.15645353)*(1)+(-2.58539288)*(0)+(-2.70554987)*(1)+(3.16459439)*(-637)+(-1.02816479)*(0)+(-2.83479711)*(0)
+(-4.09774623)*(0)+(-2.08146396)*(1.0)+(-5.11548429)*(0)+(-1.83193509)*(0.018801)+(-2.40170841)*(0)+(-1.15656034)*(0)+(-3.44162409)*(0)
+(-4.81745498)*(0)+(-5.80586544)*(202500)+(-4.09397887)*(351000)+(2.50968722)*(406597.5)+lm1.intercept_
a

In [ ]:
y = 1 / (1+np.exp((a)))
y

## second row 
#### Actual = 0
#### Model pred = 0

In [ ]:
b=(-9.15645353)*(0)+(-2.58539288)*(0)+(-2.70554987)*(0)+( 3.16459439)*(-1188)+(-1.02816479)*(1)+(-2.83479711)*(0)
+(-4.09774623)*(1)+(-2.08146396)*(2.0)+(-5.11548429)*(1)+(-1.83193509)*(0.003541)+(-2.40170841)*(0)+(-1.15656034)*(1)+(-3.44162409)*(1)
+(-4.81745498)*(0)+(-5.80586544)*(270000)+(-4.09397887)*(1129500)+(2.50968722)*(1293502.5)+lm1.intercept_

In [ ]:
y = 1 / (1+np.exp((b)))
y

--------------------------------

In [ ]:
print("Training set score: {:.3f}".format(lm1.score(X_train,y_train)))
print("Test set score: {:.3f}".format(lm1.score(X_train,y_train)))
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary())